# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Cache * derived files
intro-r-slides_cache/
intro-r-slides_files/

# backup file
*~
